<div class="main-nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" id="brand" href="#">RideShare</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" id="Home" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="AboutUs" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="ContactUs" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Findride" (click)="OfferRideform()">Offer Ride</a>
          </li>
        </ul>
        <a routerLink="/register"><button type="button" id="login1" class="btn btn-outline-info">Login</button></a>
      </div>
    </div>
  </nav>
  <div>
    <img id="img1" src="assets/images/frame 1.png" alt="">
  </div>
  <div>
    <img id="img2" src="assets/images/Frame 2.png" alt="">
  </div>
</div>
<div class="intro">
  <h1>Lorem ipsum</h1>
  <h1>consectetur dolor sit.</h1>
  <div class="para"> Sed ut perspiciatis unde omnis iste natus error sit <br>voluptatem accusantium doloremque
    laudantium, totam rem aperiam, eaque
  </div>
</div>
<div>
  <a class="nav-link" href="#"><button type="button" id="login2" class="btn btn-outline-info">Get Started</button></a>
</div>
<div class="rideinfo">
  <h1 id="line1">Your Pick of rides at low prices</h1>
  <form id="formm">
    <div class="container">
      <div id="f1">
        <img src="../../assets/images/formvector.png" alt="">
        <input type="text" id="f1input" placeholder="Leaving from..." required>
      </div>
      <div id="f2">
        <img src="../../assets/images/formvector.png" alt="">
        <input type="text" id="f2input" placeholder="Going to..." required>
      </div>
      <div id="f3">
        <input type="date" id="f3input" placeholder="Today" [value]="TodayDate">
      </div>
      <div id="f4">
        <img id="f4img" src="../../assets/images/user.png" alt="">
        <input id="num" id="f4input" type="number" placeholder="1">
      </div>
      <div>
        <input id="f5" type="submit" value="Search">
      </div>
    </div>
  </form>
</div>
<div>
  <img id="l1" src="assets/images/l7.png" alt="">
</div>
<h1 id="features">features</h1>
<div><img id="l2" src="assets/images/l8.png" alt=""></div>
<div id="flex">
  <div class="items">
    <img id="icon" src="assets/images/v.png" alt="">
    <p id="heading">Lorem ipsum</p>
    <p id="about">Sed ut perspiciatis unde<br> omnis iste natus error <br>sit voluptatem</p>
  </div>
  <div class="items">
    <img id="icon" src="assets/images/v1.png" alt="">
    <p id="heading">Lorem ipsum</p>
    <p id="about">Sed ut perspiciatis unde <br>omnis iste natus error<br> sit voluptatem</p>
  </div>
  <div class="items">
    <img id="icon" src="assets/images/v2.png" alt="">
    <p id="heading">Lorem ipsum</p>
    <p id="about">Sed ut perspiciatis unde <br>omnis iste natus error<br> sit voluptatem</p>
  </div>
  <div class="items">
    <img id="icon" src="assets/images/v3.png" alt="">
    <p id="heading">Lorem ipsum</p>
    <p id="about">Sed ut perspiciatis unde <br>omnis iste natus error<br> sit voluptatem</p>
  </div>
  <div class="items">
    <img id="icon" src="assets/images/v4.png" alt="">
    <p id="heading">Lorem ipsum</p>
    <p id="about">Sed ut perspiciatis unde<br> omnis iste natus error <br>sit voluptatem</p>
  </div>
  <div class="items">
    <img id="icon" src="assets/images/v5.png" alt="">
    <p id="heading">Lorem ipsum</p>
    <p id="about">Sed ut perspiciatis unde<br> omnis iste natus error<br> sit voluptatem</p>
  </div>
</div>
<div>
  <img id="img3" src="assets/images/Vector 2.png" alt="">
</div>
<div>
  <div>
    <img id="img4" src="assets/images/Vector 3.png" alt="">
  </div>
  <div>
    <img id="img7" src="assets/images/l7.png" alt="">
  </div>
  <h1 id="Testimonials">Testimonials</h1>
  <div><img id="img8" src="assets/images/l8.png" alt=""></div>
  <div id="flex">
    <div>
      <img id="img5" src="assets/images/fullvector.png" alt="">
    </div>
    <div>
      <img id="img6" src="assets/images/tom.png" alt="">
    </div>
    <div>
      <img id="img9" src="assets/images/img9.png" alt="">
    </div>
    <div id="testimonialsinfo">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur</p>
    </div>
    <div id="nameinfo">
      <p>Lorem ipsum (name)</p>
      <img id="nameinfoimg" src="assets/images/l7.png" alt="">
    </div>
  </div>